.mnav-wrapper {
  display: none;
  width: 100%;

  .nav-title {
    padding-left: 10px;
  }
}
#cti-mobile-nav-top {
  display: none;
  margin: 0px !important;
  width: 100%;


  .mobile-nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #251549;
    color: white;
  }

  .navbtn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 20px !important;
    margin-left: auto;

  }
}



#cti-mobile-nav {
  display: none;
  margin: 0px !important;
  position: absolute;
  z-index: 100700;
  width: 100%;

  .nav-title {
    margin-left: 10px;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #52616d;
  }
  img {
    width: 100%;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.4em;
    color: #f16e00;

  }

  .orange {
    color: #f16e00 !important;
  }

  /*
  .mobile-nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #251549;
    color: white;
  }

  .navbtn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 20px !important;
    margin-left: auto;

  }
  */

  /*Flex items*/
  .mlist {
    display: flex;
    flex-wrap: wrap;
    background-color: #373737;
    width: 100%;

    position: relative;
    z-index: 10050;
  }
  .list-item {
    display: flex;
    padding: 0.5em;
    width: 100%;
  }

  .list-item-crsVacc {
    display: flex;
    padding: 0.5em;
    width: 100%;
    color: #f16e00;
  }

  .social-div-item {
    width: 100%;

  }
  @media all and (min-width: 40em) {
    .list-item {
      width: 50%;
    }
    .list-item-crsVacc {
      width: 50%;
    }


    .social-div-item {
      width: 10%;

    }

  }
  @media all and (min-width: 60em) {
    .list-item {
      /*width: 33.33%;*/
      width: 25%;
    }

    .list-item-crsVacc {
      /*width: 33.33%;*/
      width: 25%;
    }


    .social-div-item {
      width: 10%;

    }
  }
  .list-content {
    /* background-color: #fff;
    border: 1px solid darkgrey;*/
    background-color: #373737;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }
  .list-content p {
    flex: 1 0 auto;
  }

  .list-item a {
    color: darkgrey !important;
    background-color: transparent !important;
    display: inline-block;
    color: black;
    text-align: left !important;
    padding: 0px;
    margin: 5px;
  }

  .list-item-crsVacc a {
    color: #f16e00 !important;
  }


  .list-item a:hover{
    color: #f16e00 !important;
  }

  .social-div-item a {
    color: #4B4B4B !important;
  }



  .social-div-item a:hover {
    color: #f16e00 !important;
  }


  .social-div {
    display: flex;
    flex-direction: row;
    background: darkgray;
    padding: 10px;

    width: 100%;
  }

  .social-div-contain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .social-div-item img {
    height: 36px;
    width: 36px;
  }

  .copyright-div {
    display: flex;
    background: #4B4B4B;
    text-align: center;
    padding: 7px;

  }

  .copyright-div a{
    color: #797979  !important;
  }

  .copyright-div a:hover{
    color: #f16e00 !important;
  }

  .footer-botom-items {
    display: flex;
    flex-grow: 2; /* cet element prend le double de l'espace pris par l'autre element */
    text-align: center;
    align-items: center;
    justify-content: center;
  }



  .copy {
    flex-grow: 1;
    color: white;

  }

  .link-footer-botom {
    padding-left: 20px;
  }


  body {
    margin: 0;
  }

}


/*iPhone 6 in portrait*/
@media only screen
and (min-width : 375px)
and (max-width : 667px)
  /*and (orientation : portrait) */

{
  .mnav-wrapper {
    display: block;
  }

  #cti-mobile-nav-top {
    display: block;
  }

  #cti-mobile-nav {
    display: block;
    width: 100%;

    .list-item {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0.5em;
    }

    .list-item-crsVacc {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0.5em;
    }

    .social-div-item {
      width: 19%;
      font-size: 35px !important;
    }

    .ftitle {
      font-size: 50px !important;
    }

    .plus {
      width: 20%;
      float: right;
      text-align: center;
      border-left: 1px solid #B0BED9;
      color: #f16e00;
      font-size: 20px !important;
    }


    .group-page {
      width: 70%;
      display: inline;
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00 !important;
      font-size: 20px !important;
    }



    .fcontent {
      display: none;
      font-size: 20px !important;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00 !important;
      font-size: 20px !important;
    }

    .list-content {
      padding: 0.5em;
    }

    .footer-botom-items {
      display: none;
    }
  }

}




/*iPhone 5 & 5S in portrait*/

@media only screen
  /*and (min-width : 320px)*/
and (max-width : 568px)
  /*and (orientation : portrait) */

{
  .mnav-wrapper {
    display: block;
  }

  #cti-mobile-nav-top {
    display: block;
  }



  #cti-mobile-nav {
    display: block;
    width: 100%;
    .list-item {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0px !important;
    }

    .list-item-crsVacc {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0.5em;
    }

    .social-div-item {
      width: 19%;

    }

    .ftitle {
      font-size: 50px ;
    }

    .group-page {
      display: inline;
      width: 70%;
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00 !important;
      font-size: 20px !important;
    }

    .plus {
      width: 20%;
      float: right;
      text-align: center;
      border-left: 1px solid #B0BED9;
      color: #f16e00;
      font-size: 20px !important;
    }


    .fcontent {
      display: none;
      font-size: 20px !important;
    }

    .item-text {
      display: none;
    }

    .item-text {
      display: none;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00;
      font-size: 20px !important;
    }

    .list-content {
      padding: 0.5em;
    }

    .footer-botom-items {
      display: none;
    }

  }


}