#first-nav {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  /*background-color: #ededed;*/
  //background-color: #6a148e;
  background-color: #ececee;;

  font-size: 13px;
  font-family: Roboto,sans-serif;


  .first-nav-items {
    display: flex;
    flex-direction: row;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-left: auto;
    //color: #fff !important;
    color: #424a54;;
    margin-right: 16% !important;
    font-weight: 600;
    font-size: 20px;
  }

  .first-nav-items a {

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
    //color: white !important;
    color:  #424a54;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid white;

  }

  .fa-search {
    background: #6a148e !important;
    padding: 7px 10px 7px 10px !important;

    color: white !important;
    cursor: pointer;
  }

}

#search-bar {
  padding: 30px;
  color: white;
  background: #6a148e !important;
  display: none;
  font-size: 30px;
  font-weight: 100;
}

//Pour telephone mobile jusqu'a iphone 10
@media only screen and (max-width : 812px) {
  #first-nav {
    .first-nav-items {
      font-size: 17px;
    }
  }
}


//+++++

#cti-nav-f {
  position: relative;
  z-index: 2000;


  .nav_bar{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    align-items: center;
  }



  li a:hover, .ctidropdown:hover .dropbtn {
    /*background-color: yellowgreen;
    background-color: #fafafa;*/
    //background-color: hsl(315, 100%, 25%)
    background: #dfdfe2;;
  }

  li.ctidropdown {
    display: inline-block;
  }


  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding-left: 40px;
    text-decoration: none;

    /*background-color: #ededed;*/
  }

  .dropdown-content {
    display: none;
    /*position: relative;*/
    position: absolute !important;
    /*background-color: #f9f9f9;*/
    //background-color: #6a148e;
    background: #ececee;
    color: #424a54;
    text-transform: uppercase;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
  }

  .dropdown-content a {
    //color: black;
    color: #424a54;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;

  }

  .dropdown-content a:hover {
    /*background-color: #f1f1f1;
    background-color: #fafafa;*/
    //color: black;
    color: #424a54;
  }

  .ctidropdown:hover .dropdown-content {
    display: block;
    border-bottom: 5px solid #6a148e;
    color: #424a54;;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }


}

//RESPONSIVITE DU SITE
//CSS POUR TABLETE ET MObile

//pour ipad et autre tabletes
@media only screen and (max-width : 1024px) {
  #cti-nav {
    .logo {
      margin-right: 10px;
    }
  }
}


/*iPhone 6 in portrait*/
@media only screen
and (min-width : 375px)
and (max-width : 667px)
  /*and (orientation : portrait) */


{
  #cti-nav {
    /*padding-top: 50px;*/
    .nav-items {
      display: none;
    }

    .logo{
      margin-right: 0;
    }


  }

}


/*iPhone 5 & 5S in portrait*/

@media only screen
and (min-width : 320px)
and (max-width : 568px)
  /*and (orientation : portrait) */


{
  #cti-nav {
    /*padding-top: 50px;*/
    .nav-items {
      display: none;
    }

    .logo{
      margin-right: 0;
    }


  }

}