#cti-footer {

  /* button to push the page up */

  #toTopBtn {
    display: none;
    position: fixed;
    bottom: 3px;
    right: 30px;
    z-index: 98;

  }

  #toTopBtn img {
    width: 80%;
  }

  #myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
  }

  /* END button */


  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img {
    width: 100%;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.4em;
    color: #f16e00;

  }

  /*Flex items*/
  .list {
    display: flex;
    flex-wrap: wrap;
    background-color: #373737;
    width: 100%;
  }
  .list-item {
    display: flex;
    padding: 0.5em;
    width: 100%;

  }

  .social-div-item {
    width: 100%;

  }
  .link-footer-botom-constrction{
    color: white;
  }
  .link-footer-botom-constrctions{
    color: #f16e00;
    text-decoration: none;
  }
  @media all and (min-width: 40em) {
    .list-item {
      width: 50%;
    }

    .social-div-item {
      width: 10%;

    }

  }
  @media all and (min-width: 60em) {
    .list-item {
      /*width: 33.33%;*/
      width: 25%;

    }

    .social-div-item {
      width: 10%;

    }
  }
  .list-content {
    /* background-color: #fff;*/
    border: 1px solid darkgrey;
    background-color: #373737;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }
  .list-content p {
    flex: 1 0 auto;
  }

  .list-item a {
    color: darkgrey !important;
    background-color: transparent !important;
    display: inline-block;
    color: black;
    text-align: left !important;
    padding: 0px;
    margin: 5px;
  }

  .list-item a:hover{
    color: #f16e00 !important;
  }

  .social-div-item a {
    color: #4B4B4B !important;
  }



  .social-div-item a:hover {
    color: #f16e00 !important;
  }


  .social-div {
    display: flex;
    flex-direction: row;
    background: darkgray;
    padding: 10px;

    width: 100%;
  }

  .social-div-contain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .social-div-item img {
    height: 36px;
    width: 36px;
  }

  .copyright-div {
    display: flex;
    background: #4B4B4B;
    text-align: center;
    padding: 7px;

  }

  .copyright-div {
    color: #797979  !important;
  }

  .copyright-div a:hover{
    color: #f16e00 !important;
  }

  .footer-botom-items {
    display: flex;
    flex-grow: 2; /* cet element prend le double de l'espace pris par l'autre element */
    text-align: center;
    align-items: center;
    justify-content: center;
  }



  .copy {
    flex-grow: 1;
    color: white;

  }

  .link-footer-botom {
    padding-left: 20px;
  }


  body {
    margin: 0;
  }

  /*iPhone 6 in portrait*/
  @media only screen
  and (min-width : 375px)
  and (max-width : 667px)
    /*and (orientation : portrait) */

  {

    #toTopBtn {

      right: 5px;
      bottom: 1px;

    }

    .list-item {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0px!important;
    }

    .social-div-item {
      width: 19%;
      font-size: 35px!important;
    }

    .ftitle {
      font-size: 50px!important;
    }
    .fcontent {
      display:none;
      font-size: 20px!important;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00;
      font-size: 25px!important;
    }

    .list-content {
      padding: 0.5em;
    }

    .footer-botom-items {
      display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .item-text {
      display: none;
    }
  }



  /*iPhone 5 & 5S in portrait*/

  @media only screen
  and (min-width : 320px)
  and (max-width : 568px)
    /*and (orientation : portrait) */

  {
    #toTopBtn {

      right: 5px;
      bottom: 1px;

    }

    .list-item {
      /*width: 33.33%;*/
      width: 100%;
      padding: 0px!important;
    }

    .social-div-item {
      width: 19%;

    }

    .ftitle {
      font-size: 50px!important;
    }

    .fcontent {
      display:none;
      font-size: 20px!important;
    }

    .item-text {
      display: none;
    }

    .item-text {
      display: none;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #f16e00;
      font-size: 25px!important;
    }

    .list-content {
      padding: 0.5em;
    }

    .footer-botom-items {
      display: none;
    }

  }

}